@font-face {
    font-family: vaziri;
    src: url("../font/vazir/Vazir.woff2") format("woff2");
}
/* @font-face {
    font-family: vaziri;
    src: url("../font/vazir/Vazir-Bold.ttf") format("ttf");
}
@font-face {
    font-family: vaziri;
    src: url("../font/vazir/") format("woff2");
}
@font-face {
    font-family: vaziri;
    src: url("../font/vazir/Vazir-Black.woff2") format("woff2");
} */

@keyframes test{

    0% {
        transform: translateX(0);
       
    }
    100% {
        transform: translateX(31vw); 
    }
}
@keyframes test2{

    0% {
        transform: translateX(0vw);
       
    }
    100% {
        transform: translateX(31vw); 
    }
}
.right{

    animation: test2 1s ease-in forwards;
}
*{
    /* text-decoration: none; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: vaziri;
    overflow-x: hidden;
}

body{
    
   
        overflow-x: hidden;
        width: 100vw;
    
    
    
    direction: rtl;
    
}
a {
    color: inherit; 
    text-decoration: none; 
}

a:visited {
    color: inherit; 
}

a:active {
    color: inherit; 
}
h1{

    font-size: 40px;
    font-weight: bold;
}
button{
   
    font-size: 20px;
    font-weight: bold;
}
/* header_page */
.header{
    
    align-items: center;
    display: flex;
    width: 100%;
    height: 90px;
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0px 0px 30px rgb(201 201 201);
    
    margin-bottom: 4px;
    
}
.icon_main{
    width: 30%;
    margin-right: 50px;
}

.header_btn{

    
    display: flex;
width: 40%;
justify-content: space-between;

}
.icon_group{
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 50px;
    


}

.btn_header{
    font-size: 22px;
    font-weight: bold;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.btn_header:hover{
    
    color: #478CCF;
    text-decoration: underline;
    
}


 .list_shop{
    display: flex;
    position: absolute;
    width: 300px;
    height: 170px;
    background-color: #F3FAFF;
    box-shadow: 0px 0px 15px #b9b9b9;
    margin-top: 40px;
    font-size: medium;
    font-weight: 400;
    padding: 10px;
    display: block;

 }
 .list_shop a {
    margin: 10px;
    display: block;
 }
 .list_shop a:hover{

    color: #478CCF;
    /* text-decoration: underline; */
 }
 
 .active{
    display: none;
 }
/* body_page */
.container{
    margin: auto;
    height: 100%;
    /* width: 100%; */
    /* background-color: rgb(255, 255, 255); */
    


}
.section1{
    display: flex;
    justify-content: space-evenly;;
    width: 100%;
    /* height: 90vh; */
    
    
}
.image_home{
    
    z-index: -1;
width: 50%;
height: 100%;

}

#image_main{
    
    
    width: 100%;
    height: 100%;
}
.text_intro{
    display: flex;
    flex-wrap: wrap;
    
    margin: 30px;
    width: 585px;
  
    

}
.btn_main{
    
    background-color: #478CCF;
    color: #ffffff;
    border: 0;
    width: 220px;
    height: 60px;
    border-radius: 9px;
    
    
}
.btn_main:hover {
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #296eb2;
}
#btn{
    text-align: left;
    width: 100%;
   
}


/* section2 */
.section2{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    width: 160vw;
    height: 700px;
    background-color:#F3FAFF ;
    
}
.text_align{
    
    text-align: center;
    
}
.text_sec{
   display: flex;
   align-items: center;
   margin: auto 20%;
    /* margin-top: 0px 40px; */
    width: 100%;
}

.section2_box{
    display: flex;
    width: 100%;
    padding-top: 30px;
    
    
    
}
.box{
    width: 36vw;
    
    overflow-y: hidden;
    height: 290px;
    background-color: #fafafa;
    box-shadow: 0px 0px 20px #bdbdbd;
    border-radius: 15px;
    margin: 0px 3vw;
    /* animation: test 0s ease-in forwards; */
    transition: 0.5s;
    /* overflow-y: hidden; */
}
.box_selected{
    transition: 0.5s;
margin-top: 30px;
box-shadow: 0px 0px 20px #478CCF;

}
.diamond_box{
    display: flex;
    height: 30%;
    width: 100%;
    align-items: center;
    margin-right: 30px;
    margin-top: 15px;


}

.icon_diamond{
    display: flex;
    width: 58px;
    height: 58px;
    
    border: 1px solid;
    border-radius: 100%;
    border-color: #478ccf;
    justify-content: center;
    flex-direction: row;
    align-items: center;


}
.diamond{
    width: 85%;
    height: 85%;
}
.text_box{

    height: 70%;
    width: 100%;
    
    /* background-color: red; */
}
.text_box h3{
    padding:  0px 30px;
}
.h5_box{
    text-align: right;
    margin: 30px;
    color: #4A5568;

}
.selector_box{
    display: flex
    ;
        height: 10%;
        width: 100%;
        align-items: center;
        margin-right: -60vw;
        justify-content: center;
    
    
}
.selector{
    width: 15px;
    height: 15px;
    background-color: #D9D9D9;
    border-radius: 100%;
    margin: 10px;
}
.selector_main{
    width: 18px;
    height: 18px;
    background-color: #478CCF;
    border-radius: 100%;
    margin: 10px;
}

/* section3 */
.section3{
    box-sizing: border-box;
    
    display: flex;
    justify-content: space-evenly;;
    width: 100%;
    height: 600px;
    
    
}

.video_home{
    width: 600px;
    height: 100%;
    /* background-color: #4A5568; */
    display: flex;


}
.video_text {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    font-size: 20px;
    width: 531px;
    align-content: center;
}
#video_main{
width: 100%;
height: 520px;

}

/* section4 */
.section4{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 320px;
    background-color:#F3FAFF ;


}
.text_section4{
    display: flex;
    margin-right: 5%;
    height: 20%;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    align-items: flex-end;
    justify-content: flex-start;

}
.icon_section4{
    margin: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.section5{
    width: 100%;
    height: 250px;
}
/* footer */
.footer{
    width: 100%;
    height: 350px;
box-shadow: -1px -1px 7px 0px #c3c3c3;

}
.icon_footer{
    display: flex;
    width: 50%;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
}
.box_btn_footer{
    display: flex;
    width: 70%;
    margin: 35px auto;
    justify-content: space-evenly;
    text-align: center;
}
.box_btn_footer a {
    font-size: 20px;
    font-weight: bold;
}
.btn_footer{
    border-color: #478bcf00;
    background-color: #4a556800;


}

@media screen and (max-width : 1280px) {
.text_sec{

    display: flex
;
    align-items: center;
    margin: auto 14%;
    width: 100%;
}
    
    
}
@media screen and (max-width : 480px) {

    body{

        
    }
    .header_btn{

        display: none;
    }
    
    h1{

        font-size: 20px;
        font-weight: bold;
    }
    button{
   
        font-size: 10px;
        font-weight: bold;
    }
    .section1 {
        
            display: flex;
            width: 100%;
            /* height: 90vh; */
            flex-wrap: wrap;
            flex-direction: column-reverse;
        
    }

    .image_home{
    
        z-index: -1;
    width: 100%;
    height: 200px;
    
    }
}