@import url(style_home.css);
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1600px;
}
.section1_products{
    display: flex;
    flex-wrap: wrap;
    /* padding: 80px; */
    /* padding-top:110px; */
    height: 480px;
    width: 100%;
    
}
.section1_products p{
    width: 40%;
}
.section1_products h2{
    width: 100%;
}
.section2_products{
    display: flex;
    flex-wrap: wrap;
    /* padding: 80px; */
    width: 100%;
    background-color: #F3FAFF;
}
.section2_products p{
    width: 100%;
    
}
.section2_products h2{
    padding-bottom: 40px;
    
    width: 100%;
}
.section2_products_sec1{
    padding: 50px;
    width: 50%;
}
.section2_products_sec1 img{
    width: 100%;
    height: 95%;

}
.section2_products_sec1 p {

    width: 100%;
}
.section2_products_sec2
{
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-content: flex-start;
}
.section2_products_sec2 img{

    width: 100%;
    height: 90%;
}